.main{
  width: 100%;
    display: flex;
    justify-content: space-between;
}
.aside{
  width: 20%;
    background-color: #faebd7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks{
  width: 80%;
    height: calc(100vh - 70px);
    padding: 5%;
    background-color: #f2f2f2;
    overflow-y: auto;
}
.task{

    width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 10px;
  }
